<?xml version="1.0" encoding="UTF-8"?>
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0" xmlns:cc="http://cyber.law.harvard.edu/rss/creativeCommonsRssModule.html">
	<channel>
		<title>HackTuber News</title>
		<link>https://brainwo.github.io/hacktubernews</link>
		<description>Aggregate blog posts discussed in tech YouTube videos.</description>
		{{#items}}
			<item>
			<title>{{article.title}}</title>
			<description>{{article.description}}</description>
			<link>{{article.&url}}</link>
			<content:encoded><![CDATA[{{&article.content}}]]></content:encoded>
			</item>
		{{/items}}
	</channel>
</rss>
